@joshuafolkken:registry=https://npm.pkg.github.com

engine-strict=true

minimum-release-age=1440
# minimum-release-age=4320
# minimum-release-age=10080
confirmModulesPurge=false
lockfile-include-tarball-url=true
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
